DATABASE_URL=postgresql://postgres:root@localhost:5432/zipply
BETTER_AUTH_SECRET=your-secret
BETTER_AUTH_URL=http://localhost:3000 
GOOGLE_CLIENT_ID=your-client-id
GOOGLE_CLIENT_SECRET=your-client-secret
NEXT_PUBLIC_BASE_URL=http://localhost:3000

TINYBIRD_TOKEN=your-tinybird-token
TINYBIRD_URL=your-tinybird-url

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=exmaple@gmail.com
SMTP_PASS="qqqq wwww eeee rrrr"